---
---

@import "normalize";
@import "foundation/settings";
@import "foundation/components/grid";
@import "keyframes";

/* ==========================================================================
    Base styles
   ========================================================================== */

::selection {
  color: $white;
  background-color: $ampm-yellow;
}

::-moz-selection {
  color: $white;
  background-color: $ampm-yellow;
}

a:focus:active {
    outline: none;
}

h1,
h2,
h3,
h4 { font-weight: normal; }

h1 {
    transition: all 0.2s ease-out;
}

body {
    background-color: $jet;
    position: absolute;
    height: 100%;
    width: 100%;
    color: $white;
    vertical-align: middle;
    max-width: 100%;
    font-size: 1em;
    line-height: 1.4;
}

.hero {
    background-image: url(../img/coffee.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 70px;
}

.hero__intro {
    font-family: $font-family-proxima;
    text-transform: uppercase;
    font-size: 16px;
    color: $ampm-yellow;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
    text-align: center;
}

@media #{$xlarge-up} {
    .hero__intro {
        position: relative;
        top: 350px;
        transform: translateY(-50%);
    }
}

.hero__intro-link {
    font-family: $font-family-atrament;
    color: $white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
}

@media #{$xlarge-up} {
    .hero__intro-link {
        display: block;
    }
}

.hero__main-title {
    width: 80%;
    max-width: 500px;
    margin: 0 auto 40px auto;
    h1 {
        text-indent: -9999px;
        background-image: url(../img/ampm.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        width: 100%;
        padding-bottom: 100%;
        margin: 0;
    }
}

@media #{$xlarge-up} {
    .hero__main-title {
        -webkit-animation: hover 3s infinite;
        position: relative;
        top: 100px;
        margin: 0 auto 140px auto;
        width: 100%;
        h1 {

        }
    }
}

.hero__tagline {
    display: block;
    text-align: center;
    font-family: $font-family-proxima;
    font-size: 1em;
    text-transform: uppercase;
    color: $ampm-yellow;
    letter-spacing: 1px;
}

.hero__cta {
    top: auto;
    text-align: center;
}

@media #{$xlarge-up} {
    .hero__cta {
        position: relative;
        top: 380px;
        transform: translateY(-50%);
    }
}

.cta-btn {
    font-family: $font-family-atrament;
    color: $white;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 40px;
    display: inline-block;
    text-decoration: none;
    max-width: 234px;
    text-align: center;
    background: rgba(44, 52, 64, 0.75);
    border-radius: 0;
    border: none;
    transition: all .2s ease-in-out;

    &:hover, &:active {
        background: rgba(44, 52, 64, 1);
    }
}

.cta-btn--fancy {
    border: 3px solid $ampm-yellow;

    &:hover, &:active {
        border-radius: 40px;
    }
}

.pitch {
    text-align: center;
    margin: 80px 0 80px 0;
    letter-spacing: 4px;
}

.pitch__body {
    font-family: $font-family-atrament;
    font-size: rem-calc(38px);
    color: $white;
    text-transform: uppercase;
}

@media #{$large-up} {
    .pitch__body {
        font-size: rem-calc(62px);
    }
}

.pitch__body--alternate {
  color: $ampm-yellow;
}

.next-event {
    background-color: white;
    color: black;
    font-size: rem-calc(16px);
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: $font-family-proxima;
}

.next-event__header {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: rem-calc(20px);
}

@media #{$large-up} {
    .next-event__header--title {
        margin-right: 5px;
    }
}

.next-event__header--date {
    display: block;
    letter-spacing: 2px;
}
@media #{$large-up} {
    .next-event__header--date {
        border-left: 1px solid $black;
        display: inline;
        padding-left: 12px;
    }
}

.next-event__subheader {
    font-size: rem-calc(20px);
    font-weight: 300;
    letter-spacing: 1px;
}

.next-event__subheader:after {
    content: "";
    width: 100px;
    height: 3px;
    display: block;
    background: $ampm-yellow;
    margin-top: 10px;
}

.next-event__body {
    padding-top: 30px;
    line-height: 30px;
}

@media #{$large-up} {
    .next-event__body {
        font-size: rem-calc(20px);
    }
}

.subhero {
    background-image: url(../img/greenhouse.jpg);
    background-size: cover;
    background-position-x: 25%;
    padding-bottom: 40px;
    height: 300px;
}

@media #{$large-up} {
    .subhero {
        background-position: center;
        height: 700px;
    }
}

.presenters {
    background-color: white;
    color: black;
    font-size: rem-calc(16px);
    padding-top: 80px;
    padding-bottom: 20px;
    font-family: $font-family-proxima;
}

.presenters__headshot {
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 500px;
}

@media #{$medium-up} {
    .presenters__headshot {
        min-height: 370px;
    }
}

@media #{$large-up} {
    .presenters__headshot {
        min-height: 250px;
    }
}

.headshot__image {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@media #{$medium-up} {
    .headshot__image {
        max-width: 300px;
    }
}

.headshot__tagline {
    font-family: $font-family-sans-serif;
    color: rgba(44, 52, 64, 0.75);
    min-height: 100px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.tagline__name {
    line-height: 42px;
}

.footer {
    bottom: 0;
    padding: 40px 0 45px 0;
    color: $black;
    background-color: $smoke;
    text-transform: uppercase;
    text-align: center;
}

@media #{$large-up} {
    .footer {
        text-align: left;
    }
}

.footer__date-loc {
    letter-spacing: 1px;
    font-family: $font-family-proxima;
    line-height: 35px;
    font-size: rem-calc(16px);
}

@media #{$large-up} {
    .footer__date-loc {
        border-left: 1px solid $black;
        margin: 25px 0 0 0;
    }
}

.footer__location {
    padding-left: 10px;
    font-weight: 300;
}

.footer__date {
    padding-left: 10px;
    font-weight: 300;
}

.footer__cta {
    margin: 30px 0 0 0;
}

@media #{$large-up} {
    .footer__cta {
        text-align: right;
        margin: 30px 30px 0 0;
    }
}

// UTILITY CLASSES

.util-lowercase {
    text-transform: none;
}

.util-bold {
    font-weight: 900;
}

.util-block {
    display: block;
}

@media #{$xlarge-up} {
    .util-block {
        display: inline;
    }
}
