---
---

@import "normalize";
@import "keyframes";

/* ==========================================================================
    Base styles
   ========================================================================== */
h1,
h2,
h3,
h4 { font-weight: normal; }

h1 {
    transition: all 0.2s ease-out;
}

h1,
h1:before {
    text-indent: -9999px;
    background-image: url(../img/ampm.svg);
    background-repeat: no-repeat;
    width: 500px;
    height: 528px;
    margin: 50px;
}

body {
    background-color: #2C3440;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: 'atrament-web';
    vertical-align: middle;
    max-width: 100%;
    font-size: 1em;
    line-height: 1.4;
}

.hero {
    background-image: url(../img/05.jpg);
    background-size: cover;
    min-height: 700px;
}

.hero__intro {
    font-family: 'proxima-nova';
    text-transform: uppercase;
    font-size: 16px;
    color: #FFC854;
    letter-spacing: 1px;
    margin: 0;
    text-align: center;
    width: 240px;
}

.hero__intro-link {
    font-family: 'atrament-web';
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    display: block;
}

.hero__main-title {
    display: table;
    overflow: hidden;
    width: 600px;
    height: 551px;
    padding: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin: -275px 0 0 -350px;
    overflow: hidden;
    -webkit-animation: hover 3s infinite;
}

.hero__tagline {
    position: absolute;
    bottom: 5%;
    display: block;
    text-align: center;
    width: 600px;
    font-family: 'proxima-nova', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFC854;
    letter-spacing: 1px;
}

.hero__cta {
    right: 50%;
    top: auto;
}

.cta-btn {
    font-family: 'atrament-web';
    color: #ffffff;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0;
    text-decoration: none;
    width: 234px;
    text-align: center;
    background: rgba(44, 52, 64, 0.75);
    border-radius: 0;
}

.cta-btn--fancy {
    border: 3px solid #FFC854;
    transition: border-radius .2s ease-in-out, background .2s ease-in-out;

    &:hover {
        background: rgba(44, 52, 64, 1);
        border-radius: 40px;
        transition: border-radius .2s ease-in-out, background .2s ease-in-out;
    }

    &:active {
        margin-top: 2px;
        margin-bottom: -2px;
    }
}

.footer {
    bottom: 0;
    padding: 40px 0 45px 0;
    background-color: #2C3440;
}

// UTILITY CLASSES

.util-lowercase {
  text-transform: none;
}
