{% extends '_base.html' %}

{% block content %}
        <div class="hero">
            <div class="row">
                <div class="large-3 columns">
                    <h2 class="hero__intro">
                        <a class="hero__intro-link" href="https://isl.co/">ISL Presents</a>
                    </h2>
                </div>
                <div class="large-6 columns">
                    <div class="hero__main-title">
                        <h1>AMPM</h1>
                        <div class="row" style="display:none;">
                            <div class="columns">
                                <div class="hero__tagline">
                                    Wake Up with DC's digital project management <span class="util-block">community</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns end">
                    <div class="hero__cta">
                        <a class="cta-btn cta-btn--fancy" href="https://www.eventbrite.com/e/ampm-office-culture-for-productivity-tickets-58580126736" target="_blank">RSVP Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pitch">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="pitch__body">
                        A morning event series for DC’s digital project management community; produced by ISL, sponsored by caffeine <span class="pitch__body--alternate">#AMPMDC</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="next-event">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="next-event__header util-bold">
                        <span class="next-event__header--title">Work Culture for Productivity</span>
                        <span class="next-event__header--date">April 3rd 8:00AM - 9:30AM</span>
                    </div>
                    <div class="next-event__subheader">
                        641 S Street NW, Floor 1
                    </div>
                    <div class="next-event__body">
                      Join us for the next AMPM event, as we explore the intersection of office culture and productivity. 
                        Modern employees are no longer driven solely by monetary incentives. They seek intangible qualities 
                        connected to culture like flexibility, freedom and more. We'll discuss innovative ways to develop and
                        maintain positive and productive office and team cultures. From processes and policies to office space design, 
                        join us as we explore what really works when it comes to keeping our teams happy and productive in 2019.  
                        Participating panelists include leaders from <a href="https://www.aarp.org/" target="_blank">AARP</a>, 
                        <a href="https://www.contactually.com/" target="_blank">Contactually</a>, 
                        <a href="https://www.mapbox.com/" target="_blank">Mapbox</a> and more to come! The panel will 
                        be moderated by Pratibha Kumar, Senior Account Manager @ <a href="https://www.isl.co/" target="_blank">ISL</a>. 
                        Carbs (read bagels) and caffeine will be provided!

                    </div>
                </div>
            </div>
        </div>

        <div class="subhero">
        </div>

        <!-- Section for a panel of presenters -->
        <div class="presenters">
            <div class="row">
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/meg-young-headshot.jpg" alt="meg young photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Meg Young
                        </div>
                        <div class="tagline__desc">
                          Product Manager, Caregiving </br>@ AARP
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/svi-band-headshot.jpg" alt="svi band photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Svi Band
                        </div>
                        <div class="tagline__desc">
                          CEO </br>@ Contactually
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/johnny-ray-austin-headshot.jpg" alt="johnny ray austin photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Johnny Ray Austin
                        </div>
                        <div class="tagline__desc">
                          Engineering Director, Navigation </br>@ Mapbox
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/ampm-headshot-template.jpg" alt="coming soon photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Coming soon.
                        </div>
                        <div class="tagline__desc">
                          TBD
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for a panel of presenters -->

 

        <div class="footer">
            <div class="row">
                <div class="footer__date-loc large-6 large-push-6 columns">
                    <div class="footer__date">
                        <span class="util-bold">April 3rd</span> 8:00AM - 9:30AM
                    </div>
                    <div class="footer__location">
                        <span class="util-bold">
                            ISL
                        </span> 641 S Street NW | Floor 1
                    </div>
                </div>
                <div class="large-6 large-pull-6 columns">
                    <div class="footer__cta">
                        <a class="cta-btn" href="https://www.eventbrite.com/e/ampm-office-culture-for-productivity-tickets-58580126736" target="_blank">RSVP Here</a>
                   </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
{{ super() }}
{% endblock %}
