{% extends '_base.html' %}

{% block content %}
        <div class="hero">
            <div class="row">
                <div class="large-3 columns">
                    <h2 class="hero__intro">
                        <a class="hero__intro-link" href="https://isl.co/">ISL Presents</a>
                    </h2>
                </div>
                <div class="large-6 columns">
                    <div class="hero__main-title">
                        <h1>AMPM</h1>
                        <div class="row">
                            <div class="columns">
                                <div class="hero__tagline">
                                    Wake Up with DC's digital project <span
                                    class="util-block">community</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns end">
                    <div class="hero__cta">
                        <a class="cta-btn cta-btn--fancy" href="https://www.eventbrite.com/e/ampm-september-29th-project-management-for-video-production-tickets-27124521173" target="_blank">RSVP Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pitch">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="pitch__body">
                        AMPM is a coffee chat hosted by ISL for DC's digital project community <span class="pitch__body--alternate">#AMPMDC</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="next-event">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="next-event__header util-bold">
                        <span class="next-event__header--title">Our Next AM</span>
                        <span class="next-event__header--date">September 29th 8AM - 10AM</span>
                    </div>
                    <div class="next-event__subheader">
                        ISL 641 S St. NW, 1st Floor
                    </div>
                    <div class="next-event__body">
                      Join us for our upcoming AM/PM event on September 29th
                      where our two expert speakers will be discussing the
                      fundamentals of video project management, how it
                      translates on different platforms, and any questions
                      you may have. You won't want to miss it!
                    </div>
                    <div class="next-event__body" style="display:none;">
                      We expect our next event to be in February. Stay tuned!
                      </br>
                      In the meantime, check out our Twitter feed
                      <a href="https://twitter.com/AMPMDC">@ampmdc</a>.
                    </div>
                    <div class="next-event__sponsor" style="display:none;">
                        Sponsored by:
                        <img src="../img/lacolombelogo.jpeg" alt="La Colombe coffee">
                    </div>
                </div>
            </div>
        </div>

        <div class="subhero">
        </div>

        <!-- Section for a panel of presenters -->
        <div class="presenters" style="display:none;">
            <div class="row">
                <div class="presenters__headshot medium-6 large-4 columns">
                    <div class="headshot__image">
                        <img src="../img/will_gordon_0416.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Will Gordon
                        </div>
                        <div class="tagline__desc">
                          Associate Creative Director </br>@ Edelman
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-4 columns">
                    <div class="headshot__image">
                        <img src="../img/gonzalo_mon_0416.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Gonzalo Mon
                        </div>
                        <div class="tagline__desc">
                          Partner/Advertising Lawyer </br>@ Kelley Drye &amp; Warren LLP
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-4 columns end">
                    <div class="headshot__image">
                        <img src="../img/lauren_zoltick_0416.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Lauren Zoltick
                        </div>
                        <div class="tagline__desc">
                          Content Strategist </br>@ ISL
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for a panel of presenters -->

        <!-- Section for a panel of 2 presenters -->
        <div class="presenters" style="display:none;">
            <div class="row">
                <div class="presenters__headshot medium-6 large-6 columns">
                    <div class="headshot__image">
                        <img src="../img/jeff_taylor_0716.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Jeff Taylor
                        </div>
                        <div class="tagline__desc">
                          Social Strategist </br>@ AARP
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-6 columns">
                    <div class="headshot__image">
                        <img src="../img/bryan_sartory_0716.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Bryan Sartory
                        </div>
                        <div class="tagline__desc">
                          Sales Maven </br>@ TrackMaven
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for a panal of 2 presenters -->

        <!-- Section for one main presenter -->
        <div class="presenters" style="display:none;">
            <div class="row">
                <div class="presenters__headshot medium-5 large-offset-1 large-4 columns">
                    <div class="headshot__large-image">
                          <img src="../img/bryan_sartory_0716.jpeg" alt="presenter photo">
                    </div>
                    <div class="headshot__tagline show-for-medium-up">
                      Bryan Sartory, Sales Maven at TrackMaven
                    </div>
                </div>
                <div class="presenter__bio medium-7 large-6 columns end">
                    <div class="bio__header">
                      OUR NEXT PM
                    </div>
                    <div class="bio__subheader">
                      Bryan Santory
                    </div>
                    <div class="bio__body">
                      Full bio goes here
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for one main presenter -->

        <div class="footer">
            <div class="row">
                <div class="footer__date-loc large-6 large-push-6 columns">
                    <div class="footer__date">
                        <span class="util-bold">September 29th</span> 8AM - 10AM
                    </div>
                    <div class="footer__location">
                        <span class="util-bold">
                            ISL
                        </span> 641 S St. NW | 1st Floor
                    </div>
                </div>
                <div class="large-6 large-pull-6 columns">
                    <div class="footer__cta">
                        <a class="cta-btn" href="https://www.eventbrite.com/e/ampm-september-29th-project-management-for-video-production-tickets-27124521173" target="_blank">RSVP Here</a>
                   </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
{{ super() }}
{% endblock %}
