{% extends '_base.html' %}

{% block content %}
        <div class="hero">
            <div class="row">
                <div class="large-3 columns">
                    <h2 class="hero__intro">
                        <a class="hero__intro-link" href="https://isl.co/">ISL Presents</a>
                    </h2>
                </div>
                <div class="large-6 columns">
                    <div class="hero__main-title">
                        <h1>AMPM</h1>
                        <div class="row" style="display:none;">
                            <div class="columns">
                                <div class="hero__tagline">
                                    Wake Up with DC's digital project management <span class="util-block">community</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-3 columns end">
                    <div class="hero__cta">
                        <a class="cta-btn cta-btn--fancy" href="https://www.eventbrite.com/e/ampm-the-product-manager-tickets-39011321914" target="_blank">RSVP Here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="pitch">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="pitch__body">
                        A morning event series for DC’s digital project management community; produced by ISL, sponsored by caffeine <span class="pitch__body--alternate">#AMPMDC</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="next-event">
            <div class="row">
                <div class="small-offset-1 small-10 columns">
                    <div class="next-event__header util-bold">
                        <span class="next-event__header--title">The Product Manager</span>
                        <span class="next-event__header--date">November 9th 8:00AM - 9:30AM</span>
                    </div>
                    <div class="next-event__subheader">
                        641 S Street NW, Floor 1
                    </div>
                    <div class="next-event__body">
                      Join us for the next AMPM, as we talk with local leaders in product management and 
                      explore what it takes to be a successful product manager, 
                      the future of the role, and lessons learned. Panelists include 
                      product managers from <a href="https://urbanstems.com/" target="_blank">Urban Stems</a>, 
                      <a href="http://www.hugeinc.com/" target="_blank">Huge</a>, <a href="https://pivotal.io/labs" target="_blank">Pivotal Labs</a>, 
                      and <a href="https://www.socialtables.com/" target="_blank">Social Tables</a>. The panel 
                      will be moderated by Caresse Duford, Director of Digital @ ISL. 
                      Carbs and caffeine will be provided!
                    </div>
                </div>
            </div>
        </div>

        <div class="subhero">
        </div>

        <!-- Section for a panel of presenters -->
        <div class="presenters">
            <div class="row">
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/Arif-Poonawala.jpg" alt="arif poonawala photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Arif Poonawala
                        </div>
                        <div class="tagline__desc">
                          Product </br>@ Urbanstems and IJR
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/Catherine-Colwell.jpg" alt="Catherine Colwell photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Catherine Colwell
                        </div>
                        <div class="tagline__desc">
                          Director, Product Management </br>@ Huge
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/Cooper-Triggs.jpg" alt="cooper triggs photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Cooper Triggs
                        </div>
                        <div class="tagline__desc">
                          Associate Product Manager </br>@ Social Tables
                        </div>
                    </div>
                </div>
                <div class="presenters__headshot medium-6 large-3 columns">
                    <div class="headshot__image">
                        <img src="../img/Nick-Tomaszewski.jpg" alt="nicholas tomaszewski photo">
                    </div>
                    <div class="headshot__tagline">
                        <div class="tagline__name util-bold">
                            Nicholas Tomaszewski
                        </div>
                        <div class="tagline__desc">
                          Senior Product Manager </br>@ Pivotal Labs
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section for a panel of presenters -->

 

        <div class="footer">
            <div class="row">
                <div class="footer__date-loc large-6 large-push-6 columns">
                    <div class="footer__date">
                        <span class="util-bold">November 9th</span> 8:00AM - 9:30AM
                    </div>
                    <div class="footer__location">
                        <span class="util-bold">
                            ISL
                        </span> 641 S Street NW | Floor 1
                    </div>
                </div>
                <div class="large-6 large-pull-6 columns">
                    <div class="footer__cta">
                        <a class="cta-btn" href="https://www.eventbrite.com/e/ampm-the-product-manager-tickets-39011321914" target="_blank">RSVP Here</a>
                   </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
{{ super() }}
{% endblock %}
